 
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <!-- Sidebar content here -->
    <div class="c-sidebar-brand d-lg-down-none bg-white">
        <img class="c-sidebar-brand-full" src="~/Asset/images/DUT-Logo_new.png" height="46" alt="DUT App Factory Logo">
        <img class="c-sidebar-brand-minimized" src="~/Asset/Images/DUT-LOGO-XS.png" width="50" height="46" alt="DUT App Factory Logo">
    </div>
    <ul class="c-sidebar-nav">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Home")">
                    <span class="c-sidebar-nav-icon fa fa-home fa-lg"></span> Menu
                    <span class="badge badge-info">
                       <text>Welcome</text>
                    </span>
                </a>
            </li>
            
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-user-cog fa-lg"></span>Admin Dashboard
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("Index", "AdminDashboard")"><i class="c-sidebar-nav-icon fa fa-chart-bar fa-lg"></i>Dashboard </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AllForms", "AdminDashboard")"><i class="c-sidebar-nav-icon fa fa-clipboard-list"></i>Forms </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("PendingAlerts", "AdminDashboard")"><i class="c-sidebar-nav-icon fa fa-envelope fa-lg"></i>Pending Alert </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAlertAudits","FormsSubmissionAudit")"><i class="c-sidebar-nav-icon fa fa-bell fa-lg"></i>View All Alerts</a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("SendReminders2197861","Update5832574")"><i class="c-sidebar-nav-icon fa fa-bell fa-lg"></i>Send Alerts </a>
                        </li>
                    </ul>
                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-users fa-lg"></span>Staff
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("Create", "Staff")"><i class="c-sidebar-nav-icon fa fa-user fa-lg"></i>Create Staff</a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Staff")"><i class="c-sidebar-nav-icon fa fa-users fa-lg"></i>View Staff</a>
                        </li>

                    </ul>

                </li>
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-users fa-lg"></span>Department
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("Index", "Department")"><i class="c-sidebar-nav-icon fa fa-clipboard-list"></i>View Department</a>
                        </li>
                    </ul>
                </li>
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-users fa-lg"></span>Approvers
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("Add", "SecondaryApproval")"><i class="c-sidebar-nav-icon fa fa-clipboard-list"></i>Add Secondary Approver</a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AssignContracts", "SecondaryApproval")"><i class="c-sidebar-nav-icon fa fa-clipboard-list"></i>Assign Contracts</a>
                        </li>
                    </ul>
                </li>

                <!-- Settings Section -->
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-cog fa-lg"></span>Settings
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AddSettings","Settings")"><i class="c-sidebar-nav-icon fa fa-plus fa-lg"></i>Create Settings</a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AllSettings","Settings")"><i class="c-sidebar-nav-icon fa fa-bars"></i>View Settings</a>
                        </li>
                    </ul>
                </li>
             
  <!-- My Forms -->
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-folder"> </span> &nbsp;Submit Forms
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="SubmitDUT83" asp-controller="DUT83"><span class="c-sidebar-nav-icon fa fa-file-pdf"></span> DUT83 Form</a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="SubmitD156" asp-controller="D156"><span class="c-sidebar-nav-icon fa fa-file-pdf"></span> D156 Form</a></li>
                    </ul>
                </li>

                <!-- Contracts -->
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-folder"></span>Submit MOU/Contracts
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("SubmitNonFinancialContract", "MOU")"><i class="c-sidebar-nav-icon fa fa-file-pdf"></i>Non Financial Contract </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("SubmitFinancialContract", "MOU")"><i class="c-sidebar-nav-icon fa fa-file-pdf"></i>Financial Contract  </a>
                        </li>
                    </ul>
                </li>

                <!-- My Application -->
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-word fa-lg"> </span> &nbsp;My Application
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="PendingFormsSubmissions" asp-controller="FormsSubmission"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Pending </a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="HistoryFormsSubmissions" asp-controller="FormsSubmission"><span class="c-sidebar-nav-icon fa fa-history"></span> History </a></li>
                    </ul>
                </li>
         
            <!-- Form Approval Section -->
       
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-check-square fa-lg"> </span> &nbsp;Approvals
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="PendingApprovals" asp-controller="FormApprovalProgress"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Pending Approvals</a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="HistoryApprovals" asp-controller="FormApprovalProgress"><span class="c-sidebar-nav-icon fa fa-history"></span> History Approvals</a></li>
                    </ul>
                </li>
             
 


            
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-word fa-lg"> </span> &nbsp;Manage DUT 83 Forms
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="PendingFormsForIep" asp-controller="FormApprovalProgress"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Pending Forms</a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="CompletedFormsForIep" asp-controller="FormApprovalProgress"><span class="c-sidebar-nav-icon fa fa-history"></span> Completed Forms</a></li>
                    </ul>
                </li>
 
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-word fa-lg"> </span> &nbsp;Manage Contracts
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="AllContracts" asp-controller="MOU"><span class="c-sidebar-nav-icon fa fa-list"></span> All Contract</a></li>
                      
 
                      
                    </ul>
                </li>
         <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-word fa-lg"> </span> &nbsp;Manage Refunds
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="AllRefunds" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-list"></span> All Refunds</a></li>
                   
                            
                       
                    </ul>
                </li>
       

           
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-check-square fa-lg"> </span> &nbsp;Refund Application
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="SubmitRefund" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Submit Refund</a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="StudentRefundApplications" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-history"></span> My Applications</a></li>
                    </ul>
                </li>
       
        
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-check-square fa-lg"> </span> &nbsp;Refund Approvals
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        
                            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="PendingApprovals" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Pending</a></li>
                      
                      
                            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="PendingRefundApplications" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-spinner"></span> Pending</a></li>
                       
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="CompletedRefundApplications" asp-controller="Refund"><span class="c-sidebar-nav-icon fa fa-history"></span> Approved</a></li>
                    </ul>
                </li>
       

      
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="@Url.Action("GenerateManagersReport", "Report")"><i class="c-sidebar-nav-icon fa fa-file"></i>Export Report</a>
                </li>
 
         
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-thumbs-up"> </span> &nbsp;Secondary Approvers
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="Index" asp-controller="SecondaryApproval"><span class="c-sidebar-nav-icon fa fa-list-alt"></span> View Approvers</a></li>
                        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" asp-action="Create" asp-controller="SecondaryApproval"><span class="c-sidebar-nav-icon fa fa-plus"></span> Create Approver</a></li>
                    </ul>
                </li>
        
 

    
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-users fa-lg"></span> &nbsp;Supplier Management
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AssignSupplierAtCreditor","InvCreditorSupplier")">
                                <span class="c-sidebar-nav-icon fa fa-users-cog"></span> &nbsp;Set Supplier(s) For Creditor
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetSupplierTrackingViewModels","InvCreditorSupplier")">
                                <span class="c-sidebar-nav-icon fa fa-user-friends"></span> &nbsp;All Creditors & Suppliers
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("AssignAlphasAtCreditor","InvCreditorSupplier")">
                                <span class="c-sidebar-nav-icon fa fa-users-cog"></span> &nbsp;Set Alpha(s) For Creditor
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAlphaTrackingViewModels","InvCreditorSupplier")">
                                <span class="c-sidebar-nav-icon fa fa-user-friends"></span> &nbsp;All Creditors & Alphas
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-invoice fa-lg"></span> &nbsp;Order Management
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("CreateOrder","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-file-contract"></span> &nbsp;Capture Order/Folio No.
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetOrders","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;All Orders
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrderHeaderBasicInfoLinkedToInvoice","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;Orders With Invoices
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrderHeaderBasicInfoNotLinkedToInvoice","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;Orders Without Invoices
                            </a>
                        </li>
                    </ul>
                </li>
       

         
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-invoice fa-lg"></span> &nbsp;Order Management
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("CreateOrder","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-file-contract"></span> &nbsp;Capture Order
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetOrders","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;All Orders
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrderHeaderBasicInfoLinkedToInvoice","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;Orders With Invoices
                            </a>
                        </li>
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrderHeaderBasicInfoNotLinkedToInvoice","OrderHeader")">
                                <span class="c-sidebar-nav-icon fa fa-list"></span> &nbsp;Orders Without Invoices
                            </a>
                        </li>
                    </ul>
                </li>
            }
 
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-code fa-lg"></span> &nbsp;Invoice Management
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                  
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoForStaff","OrderInvoiceHeader", new {showAllInvoices = false})">
                                    <span class="c-sidebar-nav-icon fas fa-book-reader"></span> &nbsp; My Invoices
                                </a>
                            </li>
                    
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("UploadInvoiceForOrder","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fas fa-file-upload"></span>&nbsp;Upload Invoice
                                </a>
                            </li>
                     <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoForGRVCapture","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-file-upload"></span>&nbsp;Awaiting GRV Upload
                                </a>
                            </li>

                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoContainingGRV","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-info-circle"></span>&nbsp;GRV Captured Invoices
                                </a>
                            </li>

                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("UploadInvoiceAndGrvHeader","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-file-invoice"></span>&nbsp;Upload Invoice
                                </a>
                            </li>

                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrdersForRelease","OrderHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-file-invoice"></span>&nbsp;Invoices For Release
                                </a>
                            </li>
                        

                    
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoAwaitingHODApproval","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-thumbs-up"></span> &nbsp;Awaiting Approval
                                </a>
                            </li>
                      
 
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoForCreditorVerification","OrderInvoiceHeader",new {showAll = false}))">
                                    <span class="c-sidebar-nav-icon fa fa-cogs"></span>&nbsp;For Linking/Verification
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllInvoiceHeaderBasicInfoAwaitingCreditorClerkApproval","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-thumbs-up"></span> &nbsp;Awaiting Approval
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("CreditorUploadInvoiceForOrder","OrderInvoiceHeader", new {onBehalfOfDepartment = true})">
                                    <span class="c-sidebar-nav-icon fas fa-file-upload"></span> &nbsp;Upload Invoice
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllOrdersForRelease","OrderHeader")">
                                    <span class="c-sidebar-nav-icon fas fa-paper-plane"></span> &nbsp;Invoices For Release
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllApprovedInvoiceHeaderBasicInfo","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fa fa-check-double"></span> &nbsp;Approved
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllUnLinkedInvoiceHeaderBasicInfoForCreditorVerification","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fas fa-unlink"></span> &nbsp;Un-Linked Invoices
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetAllLinkedInvoiceHeaderBasicInfoForCreditorVerification","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fas fa-link"></span> &nbsp;Linked Invoices
                                </a>
                            </li>
                            <li class="c-sidebar-nav-item">
                                <a class="c-sidebar-nav-link" href="@Url.Action("GetInvoiceStatistics","OrderInvoiceHeader")">
                                    <span class="c-sidebar-nav-icon fas fa-chart-bar fa-lg"></span> &nbsp;Invoices Stats
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }



       
                <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                        <span class="c-sidebar-nav-icon fa fa-file-pdf fa-lg"></span> &nbsp;Invoice Reports
                    </a>
                    <ul class="c-sidebar-nav-dropdown-items">
                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("GenerateInvoiceReport","Report")" target="_blank">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"></span> &nbsp;Unlinked Invoices
                            </a>
                        </li>

                        <li class="c-sidebar-nav-item">
                            <a class="c-sidebar-nav-link" href="@Url.Action("CreateReportRangePerStatus","OrderInvoiceHeader")" target="_blank">
                                <span class="c-sidebar-nav-icon fa fa-info-circle"></span> &nbsp;Generate Report
                            </a>
                        </li>

                    </ul>
                </li>
             
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>