@using WebProjectSkillsAssessment.Domain.Entities
@model List<GetTransactionsByAccountCodeOrId>

<style>
    .top-right {
        top: 0;
        right: 0;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <p>
        <div class="form-group row">
            <div class="col-md-12">
                <div class="input-group">
                    @using (Html.BeginForm())
                    {
                        @foreach (var item in Model)
                        {
                            <p>
                                <div class="position-absolute top-right">
                                    <a asp-controller="/Transactions" asp-action="AddTransactions" asp-route-Code="@item.AccountCode" class="btn btn-primary">Add Transactions<i class="fa fa-dot-circle"></i></a>
                                </div>
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <table class=table>
            <thead class="table-primary">
                <tr>
                    <th>@Html.DisplayName("Code")</th>
                    <th>@Html.DisplayName("Transaction Date")</th>
                    <th>@Html.DisplayName("CaptureDate")</th>
                    <th>@Html.DisplayName("Action")</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem =>item.Code)</td>
                        <td>@Html.DisplayFor(modelItem =>item.TransactionDate)</td>
                        <td>@Html.DisplayFor(modelItem =>item.CaptureDate)</td>
                        <td>
                            <a asp-controller="/Transactions" asp-action="GetTransactionDetailsByAccountCodeOrId" asp-route-AccountCode="@item.Code" class="btn bg-gradient-primary mt-2 me-2">View Details</a>
                            <a asp-controller="/Transactions" asp-action="UpdateTransactions" asp-route-Code="@item.Code" class="btn bg-gradient-primary mt-2 me-2">Edit Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </p>
</div>