@using WebProjectSkillsAssessment.Domain.Entities
@model PaginationList<Person>
<style>
    .top-right {
        top: 0;
        right: 0;
    }
</style>
<div class="jumbotron jumbotron-fluid">
    <p> 
    <div class="form-group row">
        <div class="col-md-12">
            <div class="input-group">
                @using (Html.BeginForm())
                {
                    <p>
                        Search by ID Number,Surname and Account Number: @Html.TextBox("SearchString")
                        <input type="submit"  value="Search" />
                            <div class="position-absolute top-right">
                            <button type="button"   class="btn btn-primary">Add Person</button>
                            </div>
                    </p>
                }
                   
            </div>
        </div>
    </div>
        
        <table class=table>
            <thead class="table-primary">
                <tr>
                   <th>@Html.DisplayName("Code")</th>
                   <th>@Html.DisplayName("Name")</th>
                   <th>@Html.DisplayName("Surname ")</th>
                   <th>@Html.DisplayName("Id_Number")</th>
                   <th>@Html.DisplayName("Action")</th>
                </tr>
            </thead>
            <tbody>
        
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem =>item.Code)</td>
                        <td>@Html.DisplayFor(modelItem =>item.Name)</td>
                        <td>@Html.DisplayFor(modelItem =>item.Surname)</td>
                        <td>@Html.DisplayFor(modelItem =>item.Id_number)</td>
                        <td>
                            <a asp-controller="/Persons" asp-action="GetPersonDetailsByIdOrCode" asp-route-IdORCode="@item.Code">View Details</a>
                        </td>
                       
                    </tr>
                }
            
        </tbody>
        </table>
       
    </p>
    </div>
@{
    var preDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
} 
<a asp-action="GetListOfPersons" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-outline-dark @preDisabled">Previous </a>
<a asp-action="GetListOfPersons" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-outline-dark @nextDisabled">Next</a>

