@using WebProjectSkillsAssessment.Domain.Entities
@model Person
<style>
    .top-right {
        top: 3%;
        right: 3%;
    }
    </style>

    <br/>
    <br/>
    <br/>
<div class="card card-body mt-12"> 
<div class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
        <div class="position-absolute top-right">

            <a asp-controller="/Accounts" asp-action="AddNewPersonAccount" asp-route-Code="@Model.Code" class="btn btn-primary">Add Accounts</a>
        </div>
        <h4 class="mb-0">Person Details</h4>
        <hr class="horizontal dark my-2">
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>First Name</strong></div>
                <div class="col-9">@Model.Name</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Last Name</strong></div>
                <div class="col-9">@Model.Surname</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3"><strong>Id Number</strong></div>
                <div class="col-9">@Model.Id_number</div>
            </div>
        </div>
@*            <div class="d-flex justify-content-start mt-4">
                <a asp-controller="/Accounts" asp-action="GetAccountList" asp-route-Code="@Model.Code" class="btn btn-primary">View Accounts</a>
            </div>*@
    </div>

     <div class="card card-body mt-4">
    <div class="row w-100">
  <table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Status</th>
      <th>Position</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">John Doe</p>
            <p class="text-muted mb-0">john.doe@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Software engineer</p>
        <p class="text-muted mb-0">IT department</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      <td>Senior</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Alex Ray</p>
            <p class="text-muted mb-0">alex.ray@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Consultant</p>
        <p class="text-muted mb-0">Finance</p>
      </td>
      <td>
        <span class="badge badge-primary rounded-pill d-inline"
              >Onboarding</span
          >
      </td>
      <td>Junior</td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Kate Hunington</p>
            <p class="text-muted mb-0">kate.hunington@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Designer</p>
        <p class="text-muted mb-0">UI/UX</p>
      </td>
      <td>
        <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
      </td>
      <td>Senior</td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>


</div>
</div>
 </div>